/* ========== SIDEBAR ICONS ========== */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* size chung cho icon sidebar */
.sidebar-item-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* riêng Kiểm kê: cho to hơn một chút */
.sidebar-item-icon-lg {
  width: 34px;
  height: 34px;
}

/* ========== HEADER + LOGO ========== */

/* Header chung */
.app-header {
  height: 72px;              /* có thể chỉnh 70–80 tùy ý */
  padding: 8px 24px;
  display: flex;
  align-items: center;
}

/* Nhóm logo + chữ */
.app-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

/* KÍCH THƯỚC LOGO NUTMILK */
.app-logo-img {
  height: 20px;              /* ↓ mình giảm còn 32px để logo nhỏ lại */
  width: 80px;
}

/* Text bên cạnh logo */
.app-logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

/* Dòng đầu: NutMilk - Quản lý kho */
.app-logo-title {
  font-size: 15px;
  font-weight: 300;
  color: #0066a4;            /* xanh giống thiết kế */
}

/* Dòng dưới: Năm 2025 */
.app-logo-subtitle {
  font-size: 14px;
  color: #4f677a;            /* xám xanh nhạt hơn */
}

/* ========== FONT CHUNG ========== */
body {
  font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}
