/* ========== SIDEBAR ICONS ========== */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* size chung cho icon sidebar */
.sidebar-item-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* riêng Kiểm kê: cho to hơn một chút */
.sidebar-item-icon-lg {
  width: 34px;
  height: 34px;
}
